*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: orange;
    background-color: rgb(232, 228, 228);
}

.formContainer{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 50%;
    margin: 0 auto;
}

.formTitle{
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: rgb(178, 116, 1);
}

.firstFormContainer{
    display: flex;
    margin-bottom: 1rem;
    justify-content: space-between;
}

.firstName,
.lastName
{
    display: flex;
    flex-direction: column;
    flex: 1;
}


.firstName input, 
.lastName input{
    padding: 0.75rem;
    border: 1px solid gray;
    border-radius: 5px;
    color: black;
    background-color: white;
}

.firstName input{
    margin-right: 1rem;
}

.firstName label, .lastName label{
    font-size: 1rem;
    font-weight: bold;
}


.firstName input:focus, .lastName input:focus{
    outline: none;
    border: 1px solid rgb(210, 146, 28);
}

.secondFormContainer{
    display: flex;
    gap: 1rem;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.email,
.phone,
.date{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.email input, .phone input, .date input{
    padding: 0.75rem;
    border: 1px solid gray;
    border-radius: 5px;
    color: black;
    background-color: white;
}

.email input:focus, .phone input:focus, .date input:focus{
    outline: none;
    border: 1px solid rgb(210, 146, 28);
}

.email label, .phone label, .date label{
    font-size: 1rem;
    font-weight: bold;
}

.thirdFormContainer{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.thirdFormContainer label{
    font-size: 1rem;
    font-weight: bold;
}

.thirdFormContainer select{
    padding: 0.75rem;
    border: 1px solid gray;
    border-radius: 5px;
    color: black;
    background-color: white;
}

.thirdFormContainer select:focus{
    outline: none;
    border: 1px solid rgb(210, 146, 28);
}

.fourthFormContainer{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.fourthFormContainer legend{
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.positionOptions{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.positionOptions label{
    color: black;
}

.fifthFormContainer{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.fifthFormContainer legend{
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.programmingOptions{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.programmingOptions label{
    color: black;
}

.sixthFormContainer{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.sixthFormContainer label{
    font-size: 1rem;
    font-weight: bold;
}

.sixthFormContainer textarea{
    padding: 0.75rem;
    border: 1px solid gray;
    border-radius: 5px;
    color: black;
    background-color: white;
}

.sixthFormContainer textarea:focus{
    outline: none;
    border: 1px solid rgb(210, 146, 28);
}

.seventhFormContainer{
    display: flex;
    margin-bottom: 1rem;
}


.seventhFormContainer button[type="submit"],
.seventhFormContainer button[type="reset"]{
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: rgb(210, 146, 28);
    cursor: pointer;
}

.seventhFormContainer button[type="reset"]{
    margin-right: 1rem;
    flex: 1;
}

.seventhFormContainer button[type="submit"]{
    flex: 3;
}

.seventhFormContainer button[type="submit"]:hover,
.seventhFormContainer button[type="reset"]:hover{
    background-color: rgb(178, 116, 1);
}



