*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: orange;
    background-color: rgb(232, 228, 228);
}

.formContainer{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    padding: 2rem;
    /* border: 1px solid rgb(210, 146, 28); */
    /* Konetner na środku */
    width: 50%;
    margin: 0 auto;
}

.formTitle{
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: rgb(178, 116, 1);
    /* text-align: left; */
}

.firstFormContainer{
    display: flex;
    margin-bottom: 1rem;
    justify-content: space-between;
}

.firstName,
.lastName
{
    display: flex;
    flex-direction: column;
    flex: 1;
}


.firstName input, .lastName input{
    padding: 0.75rem;
    border: 1px solid gray;
    border-radius: 5px;
    color: black;
    background-color: white;
}

.firstName input{
    margin-right: 1rem;
}

.firstName label, .lastName label{
    font-size: 1rem;
    font-weight: bold;
}


.firstName input:focus, .lastName input:focus{
    outline: none;
    border: 1px solid rgb(210, 146, 28);
}

.secondFormContainer{
    display: flex;
    gap: 1rem;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.email,
.phone,
.date{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.email input, .phone input, .date input{
    padding: 0.75rem;
    border: 1px solid gray;
    border-radius: 5px;
    color: black;
    background-color: white;
}

.email input:focus, .phone input:focus, .date input:focus{
    outline: none;
    border: 1px solid rgb(210, 146, 28);
}

.email label, .phone label, .date label{
    font-size: 1rem;
    font-weight: bold;
}

.thirdFormContainer{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.thirdFormContainer label{
    font-size: 1rem;
    font-weight: bold;
}

.thirdFormContainer select{
    padding: 0.75rem;
    border: 1px solid gray;
    border-radius: 5px;
    color: black;
    background-color: white;
}

.thirdFormContainer select:focus{
    outline: none;
    border: 1px solid rgb(210, 146, 28);
}