*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: rgb(210, 146, 28);
}

.formContainer{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    padding: 2rem;
    /* border: 1px solid rgb(210, 146, 28); */
    /* Konetner na środku */
    width: 50%;
    margin: 0 auto;
}

.formTitle{
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: rgb(178, 116, 1);
    /* text-align: left; */
}

.firstFormContainer{
    display: flex;
    gap: 1rem;
}

.firstName,
.lastName
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.firstName input, .lastName input{
    padding: 0.75rem;
    border: 1px solid gray;
    border-radius: 5px;
    width: 300px;
    color: black;
}

.firstName label, .lastName label{
    font-size: 1rem;
    font-weight: bold;
}


.firstName input:focus, .lastName input:focus{
    outline: none;
    border: 1px solid rgb(210, 146, 28);
}